
.top {
    z-index: 6;
}

.carousel-inner img {
    width: 100%;
}

#slide-show {
    width: 100%;
    margin: auto;
}

.size-img {
    height: 300px;
}

#btn-login {
    cursor: pointer;
}

#btn-signup {
    cursor: pointer;
}

.form-login {
    /* margin-top: 6%; */
    width: 100%;
    height: 100%;
    position: fixed;
    left: -200%;
    top: 0;
    z-index: 10;
    background: #fff;
    transition: 0.4s;
}

.form-register {
    /* margin-top: 6%; */
    width: 100%;
    height: 100%;
    position: fixed;
    left: -200%;
    top: 0;
    z-index: 10;
    background: #fff;
    transition: 0.4s;
}

.hide-login-btn {
    color: #000;
    float: right;
    cursor: pointer;
    font-size: 30px;
    opacity: 0.8;
}

.hide-signup-btn {
    color: #000;
    float: right;
    cursor: pointer;
    font-size: 30px;
    opacity: 0.8;
}

/* #popupBackg { */
    /* width: 100%; */
    /* height: 100%; */
    /* background: #999; */
    /* opacity: 0.5; */
    /* position: fixed; */
    /* z-index: 5; */
/* } */


/* toggle class */
.showed {
    left: 0;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
/* /toggle class */

